
# Database
DATABASE_URL="mysql://root:@localhost:3306/blood_connect"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="blood_connect"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

# Redis
REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"

# Mail
MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_USER="your-email@gmail.com"
MAIL_PASSWORD="your-app-password"
